@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.calculator {
	width: 220px;
	height: 320px;
	margin: 50px auto;
	border: solid 1px #3e3e3e;
	font-family: 'Montserrat', Helvetica, sans-serif;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

.display-expression, .display-number {
	grid-column: 1 / span 4;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
	padding: 5px 10px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #494747;
	color: white;
}

.display-expression {
	font-size: 16px;
}

.display-number {
	font-size: 20px;
}

.btn-CE {
	grid-column: 1 / span 2;
}

.calculator > button {
	box-sizing: border-box;
	padding: 12px;
	font-family: inherit;
	font-size: 20px;
	border: solid 1px #3e3e3e;
	margin: 0;
}

.btn-number {
	background: #f8c22d;
}

.btn-operator {
	background: #ffe835;
}

.btn-number:hover {
	background: #f5b402;
}

.btn-operator:hover {
	background: #ffd901;
}
